<!-- <h1>Bookshelves Index Page</h1>- -->

<h1>
  <ul>
  <% @books.each do |book| %>
    <ul>
      <%= link_to book.title, bookshelf_books_path(@user) %>
    </ul>
  <% end %>
  </ul>
</h1>

<!-- <h3> <a href="/books/new">New Books</a> </h3>
 -->

-----------------------

<h2><%= link_to "Home", root_path %></h2>
