<h1>Bookshelf Show Page</h1>
-----------------------

<h1>
  <% @books.each do |book| %>

    <%= link_to book.title, bookshelf_books(@bookshelves, book) %>

  <% end %>
</h1>

<h3> <a href="/books/new">New Books</a> </h3>


-----------------------

<h2><%= link_to "Home", root_path %></h2>
