<h1>Index Page</h1>
-----------------------

<h1>
  <% @users.each do |user| %>
<%= link_to user.name, user %>
  <% end %>
</h1>

<h3> <a href="/users/new">New User</a> </h3>

-----------------------

<h2><%= link_to "Home", root_path %></h2>
