<h1>Bookshelf Page</h1>
-----------------------

<h1>
  <% @users.each do |user| %>

    <ul>
      <a href="/bookshelf/<%= bookshelf.id %>">
        <%= bookshelf.name %>
      </a>
    </ul>

  <% end %>
</h1>

<h3><a href="/users/new">([+] New Bookshelf)</a></h3>


-----------------------

<h2><%= link_to "Home", root_path %></h2>
