<!-- <h1>Books Index</h1>
---------------------- -->

<h2><%= link_to "Short Description of Sports Book w/ Picture", 'http://www.kappara.ru/sport-book.pdf' %></h2>

<h2><%= link_to "Short Description of Malcolm X Book w/ Picture", 'http://nationalhumanitiescenter.org/ows/seminars/aahistory/MalcolmX.pdf' %></h2>

-----------------------

<h2><%= link_to "Home", root_path %></h2>
