<!-- <h1>Books Index</h1>
---------------------- -->


<%= link_to image_tag('http://www.peta.org/wp-content/uploads/2013/10/730.jpg'), 'http://cok.net/wp-content/uploads/literature/EasyVeganRecipes.pdf' %>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat suscipit molestie. Vivamus id pulvinar est. Quisque suscipit vel quam in posuere. Cras non venenatis justo, sollicitudin suscipit elit. Nullam cursus, turpis et accumsan facilisis, purus elit viverra magna, quis ornare eros nibh quis erat. Mauris quam mauris, pellentesque at ornare at, condimentum sed sapien. Vivamus non ultrices risus.</p>


<%= link_to image_tag('http://www.peta.org/wp-content/uploads/2013/10/730.jpg'), 'http://www.kappara.ru/sport-book.pdf' %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat suscipit molestie. Vivamus id pulvinar est. Quisque suscipit vel quam in posuere. Cras non venenatis justo, sollicitudin suscipit elit. Nullam cursus, turpis et accumsan facilisis, purus elit viverra magna, quis ornare eros nibh quis erat. Mauris quam mauris, pellentesque at ornare at, condimentum sed sapien. Vivamus non ultrices risus.</p>

-----------------------

<h2><%= link_to "Home", root_path %></h2>
