<!-- <h1>Books Index</h1>
---------------------- -->

<section id: books>
<%= link_to image_tag('http://eloquentjavascript.net/1st_edition/img/ejs.png'), 'http://eloquentjavascript.net/Eloquent_JavaScript.pdf' %> <h1>Eloquent Javascript</h1>
<p>"JavaScript lies at the heart of almost every modern web application, from social apps to the newest browser-based games. Though simple for beginners to pick up and play with, JavaScript is a flexible, complex language that you can use to build full-scale applications.

Eloquent JavaScript, 2nd Edition dives deep into the JavaScript language to show you how to write beautiful, effective code. Author Marijn Haverbeke immerses you in example code from the start, while exercises and full-chapter projects give you hands-on experience with writing your own programs.</p>


<%= link_to image_tag('http://ecx.images-amazon.com/images/I/51qtp4NzjRL._SX258_BO1,204,203,200_.jpg'), 'http://www.infoq.com/resource/news/2009/01/The-Well-Grounded-Rubyist/en/resources/ch15black.pdf' %> <h1> The Well-Grounded Rubyist</h1>

<p>

The Well-Grounded Rubyist, Second Edition addresses both newcomers to Ruby as well as Ruby programmers who want to deepen their understanding of the language. This beautifully written and totally revised second edition includes coverage of features that are new in Ruby 2.1, as well as expanded and updated coverage of aspects of the language that have changed.
</p>

-----------------------

<h2><%= link_to "Home", root_path %></h2>

</section>
