<!-- Please get rid of commented-out code in your master branch before submitting your project. You can include these in a separate branch if you'd like to keep them. -->
<!-- <h1>Books Index</h1> -->

<!-- The below tag should be written out like: <section id="books"> -->
<section id: books>
<%= link_to image_tag('http://bookywood.com/uploads/books/0b1a5aa7ee50ab4e6e4c8666f418d37c/0c0ecac129751ca5477560acd23a3ddd_15_s.jpg'), 'http://www.saylor.org/site/textbooks/Financial%20Accounting.pdf' %>
<!-- AM: Instead of using <b>, you should implement that styling using CSS. -->
<p><b>"Financial Accounting:International Financial Reporting Standards" Harrison and Horngren</b></p>


<%= link_to image_tag('http://indiamicrofinance.com/wp-content/uploads/2011/02/economic-crisis-22.jpg'), 'https://www.openstaxcollege.org/files/textbook_version/low_res_pdf/21/principles-of-economics-LR.pdf' %>
<!-- AM: Would like to see you display books by pulling information from your database - not hard-coding. -->
<p><b>"The Economic Crisis & The State of Economics" Skidelsky and Wigstrom</b></p>

-----------------------

<h2><%= link_to "Home", root_path %></h2>

</section>
